USE [master]
GO
/****** Object:  Database [testdata]    Script Date: 2/26/2021 6:50:36 PM ******/
CREATE DATABASE [testdata]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'testdata', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\testdata.mdf' , SIZE = 5184KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'testdata_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\testdata_log.ldf' , SIZE = 2112KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [testdata].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [testdata]
GO
/****** Object:  Table [dbo].[barangays]    Script Date: 2/26/2021 6:50:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[barangays](
	[barangay_id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[district_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[barangay_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[districts]    Script Date: 2/26/2021 6:50:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[districts](
	[district_id] [int] NOT NULL,
	[name] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[district_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patients]    Script Date: 2/26/2021 6:50:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients](
	[patient_id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](30) NOT NULL,
	[lastName] [nvarchar](30) NOT NULL,
	[barangay_admitted_id] [int] NULL,
	[status] [int] NOT NULL,
	[birthDate] [date] NOT NULL,
	[date_added] [datetime] NOT NULL,
	[date_modified] [datetime] NOT NULL,
	[address] [varchar](30) NULL,
	[barangay_address_id] [int] NULL,
	[contactNumber] [char](10) NULL,
	[updated_column] [bit] NULL,
 CONSTRAINT [pk_patients] PRIMARY KEY CLUSTERED 
(
	[patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status]    Script Date: 2/26/2021 6:50:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[status_id] [int] NOT NULL,
	[name] [varchar](15) NOT NULL,
 CONSTRAINT [pk_status] PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2/26/2021 6:50:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[barangay_id] [int] NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[email_verified_at] [datetime] NULL,
	[forget_token] [varchar](255) NULL,
	[superuser] [bit] NULL,
	[verify_token] [varchar](255) NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_all_patients]    Script Date: 2/26/2021 6:50:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














CREATE view [dbo].[vw_all_patients]
AS 
SELECT
p.patient_id as id,
CONCAT(p.firstName, ' ', p.lastName) AS name,
DATEDIFF(yyyy, p.birthdate, getdate()) AS age,
ISNULL(p.address, 'N/A') as lot_address,
b1.name AS barangay_address,
b2.name AS barangay_admitted,
d1.name AS district_address,
d2.name AS district_admitted,
ISNULL(p.contactNumber, 'N/A') as contact_number,
CASE s.name 
	WHEN 'infected' THEN 'Infected' 
	WHEN 'death' THEN 'Expired'
	WHEN 'recovered' THEN 'Recovered'
END AS status,
p.date_added AS added,
p.date_modified AS updated,
p.barangay_address_id AS barangay_address_ID,
d1.district_id AS district_address_ID,
p.barangay_admitted_id AS barangay_admitted_ID,
d2.district_id AS district_admitted_ID,
s.status_id as status_ID,
p.updated_column as updated_column
	FROM patients p
	INNER JOIN barangays b1
		ON p.barangay_address_id = b1.barangay_id
	INNER JOIN barangays b2
		ON p.barangay_admitted_id = b2.barangay_id
	INNER JOIN districts d1
		ON d1.district_id = b1.district_id
	INNER JOIN districts d2
		ON d2.district_id = b2.district_id
	INNER JOIN status s
		ON p.status = s.status_id
GO
/****** Object:  View [dbo].[vw_this_month]    Script Date: 2/26/2021 6:50:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [dbo].[vw_this_month] AS
SELECT * FROM vw_all_patients
	WHERE DATEPART(yyyy, updated) = YEAR(GETDATE()) AND DATEPART(mm, updated) = MONTH(GETDATE())
GO
/****** Object:  View [dbo].[vw_monthly_count]    Script Date: 2/26/2021 6:50:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[vw_monthly_count]
AS
SELECT 
DATEPART(mm, updated) AS monthNumber, 
DATENAME(mm, updated) AS month, 
DATEPART(yy, updated) AS year, 
COUNT(name) AS count, 
status 
	FROM vw_all_patients
	WHERE updated < DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1)
	GROUP BY DATEPART(mm, updated), DATENAME(mm, updated), DATEPART(yy, updated), status
GO
INSERT [dbo].[barangays] ([barangay_id], [name], [district_id]) VALUES (1, N'Alicia ', 1)
INSERT [dbo].[barangays] ([barangay_id], [name], [district_id]) VALUES (2, N'Bagong Pag-asa ', 1)
INSERT [dbo].[barangays] ([barangay_id], [name], [district_id]) VALUES (3, N'Bahay Toro ', 1)
GO
INSERT [dbo].[districts] ([district_id], [name]) VALUES (1, N'1st District')
INSERT [dbo].[districts] ([district_id], [name]) VALUES (2, N'2nd District')
INSERT [dbo].[districts] ([district_id], [name]) VALUES (3, N'3rd District')
GO
SET IDENTITY_INSERT [dbo].[patients] ON 

INSERT [dbo].[patients] ([patient_id], [firstName], [lastName], [barangay_admitted_id], [status], [birthDate], [date_added], [date_modified], [address], [barangay_address_id], [contactNumber], [updated_column]) VALUES (1, N'Wanda', N'Stewart', 115, 3, CAST(N'1989-11-21' AS Date), CAST(N'2020-04-01T00:00:00.000' AS DateTime), CAST(N'2020-04-01T00:00:00.000' AS DateTime), NULL, 115, NULL, 1)
INSERT [dbo].[patients] ([patient_id], [firstName], [lastName], [barangay_admitted_id], [status], [birthDate], [date_added], [date_modified], [address], [barangay_address_id], [contactNumber], [updated_column]) VALUES (2, N'Christian', N'Knox', 76, 3, CAST(N'1987-01-29' AS Date), CAST(N'2021-03-07T00:00:00.000' AS DateTime), CAST(N'2021-03-07T00:00:00.000' AS DateTime), NULL, 76, NULL, 1)
INSERT [dbo].[patients] ([patient_id], [firstName], [lastName], [barangay_admitted_id], [status], [birthDate], [date_added], [date_modified], [address], [barangay_address_id], [contactNumber], [updated_column]) VALUES (3, N'Joe', N'Hardacre', 53, 1, CAST(N'1972-09-20' AS Date), CAST(N'2021-01-17T00:00:00.000' AS DateTime), CAST(N'2021-01-17T00:00:00.000' AS DateTime), NULL, 53, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[patients] OFF
GO
INSERT [dbo].[status] ([status_id], [name]) VALUES (1, N'infected')
INSERT [dbo].[status] ([status_id], [name]) VALUES (2, N'recovered')
INSERT [dbo].[status] ([status_id], [name]) VALUES (3, N'death')
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [barangay_id], [email], [password], [email_verified_at], [forget_token], [superuser], [verify_token], [active]) VALUES (1, 1, N'admin1@gmail.com', N'$2y$10$9tobUiYsXwntlqaiL3u0p.m3zd.lOkTDkcYpv0mUUfkErtEffsHwq', NULL, NULL, 1, NULL, 1)
INSERT [dbo].[users] ([id], [barangay_id], [email], [password], [email_verified_at], [forget_token], [superuser], [verify_token], [active]) VALUES (1009, 1, N'brgy1@qccc.gov', N'$2y$10$zOqDEwJiQhiT0Rsx2cTUNO0F8txRLfGhoUcXu45hPVqtZYq.GYHnW', CAST(N'2021-02-22T23:23:16.320' AS DateTime), NULL, 0, N'c75ada3dc91335a817a69b945f1ae266bf46c534eaf37e6f9658fc5632045634', 1)
INSERT [dbo].[users] ([id], [barangay_id], [email], [password], [email_verified_at], [forget_token], [superuser], [verify_token], [active]) VALUES (1010, 2, N'brgy2@qccc.gov', N'$2y$10$xaYaTJ0ITXy6BX6Be/Em9ey44hf52Lson57p3Sh68TpBjQwU1TOPm', CAST(N'2021-02-24T22:36:31.830' AS DateTime), NULL, 0, N'ea51201adc6a1133c5566eca907e5c4496be3593941e2bd2ca03cd1e8f72b53e', 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_email]    Script Date: 2/26/2021 6:50:37 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [uq_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[patients] ADD  CONSTRAINT [df_patients_date_added]  DEFAULT (getdate()) FOR [date_added]
GO
ALTER TABLE [dbo].[patients] ADD  CONSTRAINT [DF_patients_date_modified]  DEFAULT (getdate()) FOR [date_modified]
GO
ALTER TABLE [dbo].[patients] ADD  CONSTRAINT [DF_patients_updated_column]  DEFAULT ((1)) FOR [updated_column]
GO
ALTER TABLE [dbo].[barangays]  WITH CHECK ADD  CONSTRAINT [fk_barangay_district] FOREIGN KEY([district_id])
REFERENCES [dbo].[districts] ([district_id])
GO
ALTER TABLE [dbo].[barangays] CHECK CONSTRAINT [fk_barangay_district]
GO
ALTER TABLE [dbo].[patients]  WITH CHECK ADD  CONSTRAINT [fk_patient_address_b] FOREIGN KEY([barangay_address_id])
REFERENCES [dbo].[barangays] ([barangay_id])
GO
ALTER TABLE [dbo].[patients] CHECK CONSTRAINT [fk_patient_address_b]
GO
ALTER TABLE [dbo].[patients]  WITH CHECK ADD  CONSTRAINT [fk_patient_admitted_b] FOREIGN KEY([barangay_admitted_id])
REFERENCES [dbo].[barangays] ([barangay_id])
GO
ALTER TABLE [dbo].[patients] CHECK CONSTRAINT [fk_patient_admitted_b]
GO
ALTER TABLE [dbo].[patients]  WITH CHECK ADD  CONSTRAINT [fk_patient_status] FOREIGN KEY([status])
REFERENCES [dbo].[status] ([status_id])
GO
ALTER TABLE [dbo].[patients] CHECK CONSTRAINT [fk_patient_status]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [fk_user_barangay] FOREIGN KEY([barangay_id])
REFERENCES [dbo].[barangays] ([barangay_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [fk_user_barangay]
GO
/****** Object:  StoredProcedure [dbo].[sp_barangay_count]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_barangay_count] @barangay_admitted_id int
AS
BEGIN
    SELECT s.status_id, count(ap.name) as count, s.name FROM vw_all_patients ap 
        RIGHT JOIN status s ON 
            s.status_id = ap.status_ID AND
            ap.barangay_admitted_ID = @barangay_admitted_id 
        GROUP BY s.name, s.status_id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_barangay_list]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_barangay_list]
AS
BEGIN
    SELECT * FROM barangays
END
GO
/****** Object:  StoredProcedure [dbo].[sp_count_today]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_count_today] @year char(4), @month varchar(2), @day varchar(2)
AS
BEGIN
    SELECT COUNT(status) as count from vw_all_patients 
        WHERE status = 'Infected'
            AND YEAR(updated) = @year
            AND MONTH(updated) = @month
            AND DAY(updated) = @day
END
GO
/****** Object:  StoredProcedure [dbo].[sp_count_total]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_count_total]
AS
BEGIN
    SELECT ap.status as status, COUNT(ap.status) as count FROM vw_all_patients ap
        RIGHT JOIN status s
            ON s.status_id = ap.status_id
        GROUP BY status
END
GO
/****** Object:  StoredProcedure [dbo].[sp_district_table]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_district_table] @barangay_admitted_id int
AS
BEGIN
    SELECT
    s.status_id,
    ap.barangay_admitted as barangay, 
    ap.district_admitted as district, 
    s.name as status, 
    COUNT(ap.status) as count 
    FROM vw_all_patients ap
        RIGHT JOIN status s
            ON s.status_id = ap.status_id
            AND ap.barangay_admitted_ID = @barangay_admitted_id
        GROUP BY ap.barangay_admitted, ap.district_admitted, s.name, s.status_id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_one_patient]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_get_one_patient] @patient_id int
AS
BEGIN
    SELECT * FROM patients WHERE patient_id = @patient_id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_verify_token]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_get_verify_token] @verify_token varchar(255)
AS
BEGIN
    SELECT * FROM users WHERE verify_token = @verify_token
END
GO
/****** Object:  StoredProcedure [dbo].[sp_login_attempt]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_login_attempt] @email varchar(50)
AS
BEGIN
    SELECT 
    u.email as email, 
    u.barangay_id as barangay_id,
    b.district_id as district_id,
    b.name as barangay_name,
    u.password as password,
    u.forget_token as forget_token,
    u.superuser as superuser
        FROM users u 
            INNER JOIN barangays b ON u.barangay_id = b.barangay_id
        WHERE u.email = @email
        AND (u.email_verified_at IS NOT NULL OR u.superuser = 1)
        AND u.active = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_monthly_chart]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_monthly_chart]
AS
BEGIN
SELECT * FROM vw_monthly_count 
    ORDER BY year, monthNumber
END
GO
/****** Object:  StoredProcedure [dbo].[sp_new_patient]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_new_patient] 
@firstName varchar(30), 
@lastName varchar(30),
@barangay_admitted int,
@status int,
@birthdate date,
@address varchar(30) = null,
@barangay_address int,
@contactNumber varchar(10) = null

AS
BEGIN
	INSERT INTO patients values(
		@firstName,
		@lastName,
		@barangay_admitted,
		@status,
		@birthdate,
		DEFAULT,
		DEFAULT,
		@address,
		@barangay_address,
		@contactNumber,
		DEFAULT
	)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_new_user]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_new_user]
@barangay int,
@email varchar(30),
@password varchar(255),
@verify_token varchar(255)
AS
BEGIN
	INSERT INTO users VALUES (
		@barangay,
		@email,
		@password,
		null,
		'1',
		0,
		@verify_token,
		1
	)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_per_barangay]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_per_barangay] @barangay_admitted_id int, @status_id int
AS
BEGIN
    SELECT * FROM vw_all_patients
        WHERE barangay_admitted_id = CAST(@barangay_admitted_id as INT)
            AND status_id = CAST(@status_id as INT)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_set_forgot_token]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_set_forgot_token] @token varchar(6), @email varchar(50)
AS
BEGIN
    UPDATE users SET forget_token = @token WHERE email = @email
END
GO
/****** Object:  StoredProcedure [dbo].[sp_set_new_password]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_set_new_password] @password varchar(255), @email varchar(50)
AS
BEGIN
    UPDATE users set password = @password, forget_token = NULL WHERE email = @email
END
GO
/****** Object:  StoredProcedure [dbo].[sp_superuser_barangay_count]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_superuser_barangay_count]
AS
BEGIN
    SELECT s.status_id, count(ap.name) as count, s.name FROM vw_all_patients ap 
        RIGHT JOIN status s ON 
            s.status_id = ap.status_ID
        GROUP BY s.name, s.status_id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_superuser_per_barangay]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_superuser_per_barangay]  @status_id int
AS
BEGIN
    SELECT * FROM vw_all_patients
        WHERE status_id = CAST(@status_id as INT)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_superuser_trend_chart]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_superuser_trend_chart]
AS
BEGIN
    SELECT s.status_id, count(s.status_id) AS count, FORMAT(ap.updated, 'yyyy/MM/dd') AS date 
        FROM vw_all_patients ap
        RIGHT JOIN status s ON
            s.status_id = ap.status_ID
        WHERE 
            updated BETWEEN
                (SELECT DATEADD(dd, -14, GETDATE())) AND GETDATE()
        GROUP BY FORMAT(ap.updated, 'yyyy/MM/dd'), s.status_ID
        ORDER BY FORMAT(ap.updated, 'yyyy/MM/dd')
END
GO
/****** Object:  StoredProcedure [dbo].[sp_tally_districts]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_tally_districts]
AS
BEGIN
    SELECT district_admitted as district, count(status) as count
        FROM vw_all_patients
        WHERE status = 'Infected'
        GROUP BY status, district_admitted
        ORDER BY count(status) DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_this_month]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_this_month]
AS
BEGIN
    SELECT tm.status as status, COUNT(tm.status) as count FROM vw_this_month tm
        RIGHT JOIN status s
            ON s.status_id = tm.status_ID
        GROUP BY status
END
GO
/****** Object:  StoredProcedure [dbo].[sp_top_barangays]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_top_barangays]
AS
BEGIN
    SELECT TOP 5 barangay_admitted as barangay, count(status) as count
        FROM vw_all_patients
        WHERE status = 'Infected'
        GROUP BY status, barangay_admitted
        ORDER BY count(status) DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_trend_chart]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_trend_chart] @barangay_admitted_id int
AS
BEGIN
  SELECT s.status_id, count(s.status_id) AS count, FORMAT(ap.updated, 'yyyy/MM/dd') AS date 
        FROM vw_all_patients ap
        RIGHT JOIN status s ON
            s.status_id = ap.status_ID
        WHERE 
            updated BETWEEN
                (SELECT DATEADD(dd, -14, GETDATE())) AND GETDATE()
            AND barangay_admitted_ID = @barangay_admitted_id
        GROUP BY FORMAT(ap.updated, 'yyyy/MM/dd'), s.status_ID
        ORDER BY FORMAT(ap.updated, 'yyyy/MM/dd')
END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_patient]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_update_patient] 
@firstName varchar(30), 
@lastName varchar(30),
@barangay_admitted int,
@status int,
@birthdate date,
@address varchar(30) = null,
@modified datetime,
@barangay_address int,
@contactNumber varchar(10) = null,
@updated_column bit,
@patient int
AS
BEGIN
	UPDATE PATIENTS SET
        firstName = @firstName,
        lastName = @lastName,
        barangay_admitted_id = @barangay_admitted,
        district_admitted_id = 
            (SELECT district_id FROM barangays WHERE barangay_id = @barangay_admitted),
        status = @status,
        birthDate = @birthDate,
        date_modified = ISNULL(@modified, GETDATE()),
        address = ISNULL(@address, NULL),
        barangay_address_id = @barangay_address,
        district_address_id = 
            (SELECT district_id FROM barangays WHERE barangay_id = @barangay_address),
        contactNumber = ISNULL(@contactNumber, NULL),
        updated_column = @updated_column
    WHERE patient_id = @patient
END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_users]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_update_users] @active bit, @email varchar(50)
AS
BEGIN
    UPDATE users set active = @active WHERE email = @email
END
GO
/****** Object:  StoredProcedure [dbo].[sp_user_list]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_user_list]
AS
BEGIN
    SELECT u.email AS email, b.name AS barangay, u.forget_token AS forget_token, u.email_verified_at AS verified, u.active as active
        FROM users u
        INNER JOIN barangays b
            ON b.barangay_id = u.barangay_id
        WHERE u.superuser != 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_verify_user]    Script Date: 2/26/2021 6:50:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_verify_user] @email varchar(50)
AS
BEGIN
    UPDATE users SET email_verified_at = GETDATE() WHERE email = @email
END
GO
USE [master]
GO
